{% extends "base.html" %}

{% block content %}
<section class="help-section">
  <div class="container">


    <h2>Help & FAQs</h2>
    <ul>
      <li><strong>Q:</strong> How do I log in?<br><strong>A:</strong> Click the login button and enter your student credentials.</li>
      <li><strong>Q:</strong> What if I forget my password?<br><strong>A:</strong> Use the "Forgot Password" option or contact admin.</li>
      <li><strong>Q:</strong> Can I download my marksheet?<br><strong>A:</strong> Yes, once logged in, you can download it in PDF format.</li>
    </ul>
  </div>
</section>
{% endblock %}
